<html>
<head>
    <title>nfl-outlast</title>
    @{ this.Asset("twitter-bootstrap-scripts"); }
    @{ this.Asset("twitter-bootstrap-styles"); }
</head>
<body>
    @RenderBody()
    @this.WriteCssTags()
    @this.WriteScriptTags()
</body>
</html>
